$kai-color:#B1C941 ;
$miu-color:#99ff00;
$kaibai-color:#F9F8F6 ;
@mixin juzhong{
  height: 100%;
  min-width: 80px;
  text-align: center;
  color:$kaibai-color;
  font-size: 15px;
  &:hover{
    background-color: #F9F8F6;
    color:#99ff00;
  }
}

.navbar{
  height: 60px;
  background-color: $kai-color;
  overflow: hidden;
}
a{
  text-decoration: none;
  color:$kaibai-color;
  line-height: 60px;
  @include juzhong();
  display: block;
  float: left;
}
.subnav{
  display: inline;
  button{
    border: none;
    background-color: $kai-color;
    @include juzhong();
    display: block;
    float: left;
  }
  .subnav-content{
    display: none;
    background-color: #99ff00;
    width: 100%;
  }
  &:hover .subnav-content{
    display: block;
    position: absolute;
    top:60px;
    
  }
}
